## PyTorch
# conda install pytorch torchvision torchaudio cudatoolkit=11.0 -c pytorch

## training log
tensorboard

## config file loader
pyyaml

## progress bar
tqdm 

## mesh grid
kornia

## visualization
matplotlib

## vision
opencv-python